 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.brand-logo >img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
}
/* Menu - profile */
.bg-card-user {
	background: rgba(0,77,64,.5);
	padding: 15px 0;
}
.truncate >img {
	width: 180px;
	margin-top: 6px;
	margin-bottom: 6px;
}
/* FOOTER */
footer .foot-text {
	margin-top: 10px;
}

.page-footer {
  background-color:#ffcccc;
}

/* LOGIN */
.logueo {/* PARALLAX */
    height: 650px!important;
}
i.iconis {
    font-size: 1em!important;
    margin-top: 8px;
}
.login {
    border: 1px solid #FFF;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.7);
    padding: 20px;
}

#footer {
    background-color: #EF8BB2;
}

#a {
    color: #FFF;
}

